
<div class="sidebar">
  <a routerLink="/profile" routerLinkActive="active"><i class="fa fa-fw fa-user-circle"></i>Profile Overview</a>
  <a routerLink="/editprofile"><i class="fa fa-fw fa-edit"></i> Edit Profile</a>
  <a routerLink="/appliedjobs"><i class="fa fa-fw fa-bookmark-o"></i> Applied Jobs</a>
  <a routerLink="/latestjobs"><i class="fa fa-fw fa-list"></i> Latest Jobs</a>
  <a routerLink="/searchjobs"><i class="fa fa-fw fa-search"></i> Search Jobs</a>
  <a routerLink="/activities"><i class="fa fa-fw fa-tasks"></i> Activities</a>
  <a routerLink="/settings"><i class="fa fa-fw fa-cog"></i> Settings</a>
</div>
<router-outlet></router-outlet>
