
<div class="card">
    <img src="../assets/rob.jpg" alt="Robert" style="width:70%;margin-left: 40px;margin-top: 15px">
    <h1 style="color: white;">Robert Pattinson</h1>
    <p class="title">FRONTEND UI DEVELOPER 
        AT LEOPARD DOTS</p>
    <a href="#"><i class="fa fa-map-marker"></i><p style="font-size:15px">CURRENT PREFERRED : MUMBAI GUWAHATI</p></a>
    <a href="#"><i class="fa fa-user-circle-o"><p style="font-size:15px">EXPERIENCE EXP CTC : 7 YEARS 3 MONTHS
        MIN 2.5 LAKHS MAX 4 LAKHS</p>
    <p style="font-size:15px">NOTICE PERIOD : 15 DAYS</p></i></a>
    <a href="#"><i class="fa fa-envelope"><p style="font-size:15px">headturner.robert@gmail.com</p></i></a>
    <a href="#"><i class="fa fa-mobile-phone"><p style="font-size:15px">+91 9707300189<br>+91 9101527152</p></i></a>
   
  </div>

  <div class="topnav">
    <a routerLink="/general" routerLinkActive="active">GENERAL INFORMATION</a>
    <a routerLink="/profile/education" >EDUCATION</a>
    <a routerLink="/experience">PROFESSIONAL EXPERIENCE</a>
    <a routerLink="/skills">SKILLS</a>
    <a routerLink="/relocate">REASON TO RELOCATE</a>
  </div>
<router-outlet></router-outlet>
  
